<div class="panel">
    <div class="panel-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 0 30px 0 30px;">
        <div flex="85">
            <md-input-container>
                <label>Product Name</label>
                <input ng-model="searchname">
            </md-input-container>
        </div>
    </div>
</div>
<div style="padding:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 0 30px 0 30px;">
    <table class="table  table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Product
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in productsList  | filter: searchname ">
                <td>{{$index+1}}</td>
                <td>{{product.Product}}</td>
                <td>
                    <i data-toggle="tooltip" title="Edit" class="glyphicon glyphicon-pencil clstool"></i>&nbsp;&nbsp;
                    <i data-toggle="tooltip" title="Add Customer" class="glyphicon glyphicon-plus clstool" ng-click="addCustomer();"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
