﻿<md-content>
    <md-tabs class="md-primary" md-center-tabs="">
        <md-tab label="Purchase" style="width:30%;">
            <md-content class="md-padding">
                <h2 class="md-display-1">Purchase</h2>
                <p class="md-body-1">
                    <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <md-select placeholder="Select Customer" ng-model="customer" md-on-open="loadcustomers()" style="min-width: 300px;">
                            <md-option ng-value="cust.CustomerId" ng-repeat="cust in customerList">{{cust.CustomerName}}</md-option>
                        </md-select>
                    </div>
                    <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <md-select placeholder="Select Product" ng-model="product" md-on-open="loadproducts()" style="min-width: 300px;">
                            <md-option ng-value="{{prd.ProductId}}" ng-repeat="prd in productList">{{prd.ProductName}}</md-option>
                        </md-select>
                    </div>
                    <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <md-input-container>
                            <label>Qunatity</label>
                            <input type="number" ng-model="Qty">
                        </md-input-container>
                    </div>
                </p>
            </md-content>
        </md-tab>
        <md-tab label="Order Details"  style="width:30%;">
            <md-content class="md-padding">
                <h2 class="md-display-1">Order Details</h2>
                <p class="md-body-1">
                    Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa
                    orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in
                    condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim,
                    at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus.
                </p>
            </md-content>
        </md-tab>
        <md-tab label="Order Confirmation"  style="width:30%;">
            <md-content class="md-padding">
                <h2 class="md-display-1">Order Confirmation</h2>
                <p class="md-body-1">
                    Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur
                    posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse
                    vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                    commodo volutpat non ac est.
                </p>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>