﻿<!--<div>
    <div class="mwinput col-md-6 col-sm-6 col-xs-12 col-lg-3" style="padding-bottom:10px;">
        <input type="text" class="form-control" name="User" placeholder="User" ng-model="searchuser" />
    </div>
</div>-->
<div class="panel">
    <div class="panel-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 0 30px 0 30px;">
        <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
            <md-input-container>
                <label>User Name</label>
                <input ng-model="searchuser">
            </md-input-container>
        </div>
        <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
            <md-input-container>
                <label>Email</label>
                <input ng-model="searchemail">
            </md-input-container>
        </div>
    </div>
</div>

<div style="padding:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 0 30px 0 30px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in UsersList  | filter:{FirstName: searchuser, LastName:searchuser, Email:searchemail}">
                <th scope="row">{{$index+1}}</th>
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.Email}}</td>
            </tr>
        </tbody>
    </table>
    <div class="show-hide-animation">
        <div class="pagenav text-center">
            <pagination num-pages="totalPages" direction-links="true" boundary-links="true" total-items="totalItems" data-on-select-page="pageChanged(page)" page="currentPage" class="pagination-sm" max-size="10"></pagination>
        </div>
    </div>
</div>
