

/*login*/
.login-container {
    margin: 0 auto;
    float: none;
}

    .login-container .form-login {
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border: 1px solid #e98f40;
    }

        .login-container .form-login h2 {
            border: 0 solid #fff;
            border-bottom-width: 1px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 28px;
        }

        .login-container .form-login .form-control {
            border-radius: 10px;
        }

        .login-container .form-login .input-custom {
            height: 40px;
            padding: 10px 16px;
            font-size: 14px;
            border-radius: 12px;
            box-shadow: none;
            border: 1px solid #e3e3e3;
            padding-left: 20px;
            margin-bottom: 25px;
            background-repeat: no-repeat;
            background-position: 3% center;
            background-size: 20px;
            margin-left: 60px;
        }

            .login-container .form-login .input-custom.userName {
                background-image: url(../images/user-17-17.png);
            }

            .login-container .form-login .input-custom.userPassword {
                background-image: url(../images/lock-17-17.png);
            }

            .login-container .form-login .input-custom.emailId {
                background-image: url(../images/email-17-17.png);
            }

            .login-container .form-login .input-custom.locationId {
                background-image: url(../images/location-17-17.png);
            }

            .login-container .form-login .input-custom::-webkit-input-placeholder {
                color: #cdcdcd;
            }

            .login-container .form-login .input-custom:-moz-placeholder {
                /* Firefox 18- */
                color: #cdcdcd;
            }

            .login-container .form-login .input-custom::-moz-placeholder {
                /* Firefox 19+ */
                color: #cdcdcd;
            }

            .login-container .form-login .input-custom:-ms-input-placeholder {
                color: #cdcdcd;
            }

        .login-container .form-login .wrapper {
            text-align: left;
            margin-left: 66px;
        }

            .login-container .form-login .wrapper .btn {
                border-color: #e3e3e3;
                height: 35px;
                margin-right: 5px;
                border-radius: 12px;
                font-size: 18px;
                line-height: 32px;
                padding: 0;
            }

                .login-container .form-login .wrapper .btn.btn-orange {
                    background-color: #e98f40;
                }

                .login-container .form-login .wrapper .btn.btn-blue {
                    background-color: #54aeeb;
                }

        .login-container .form-login .link {
            font-size: 12px;
            margin-top: 5px;
            display: inline-block;
        }

        .login-container .form-login .select-parent {
            position: relative;
        }

            .login-container .form-login .select-parent select {
                appearance: none;
                -moz-appearance: none;
                /* Firefox */
                -webkit-appearance: none;
                padding-right: 35px;
            }

            .login-container .form-login .select-parent span {
                background-color: #dcdcdc;
                position: absolute;
                right: 0;
                top: 0;
                width: 35px;
                height: 100%;
                border-radius: 0 12px 12px 0;
                padding: 15px 10px;
                color: #e98f40;
            }

        .login-container .form-login [type="checkbox"] {
            vertical-align: sub;
        }

            .login-container .form-login [type="checkbox"] + label {
                margin-right: 15px;
            }

/* common.less */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Open Sans, sans-serif;
}

.script-font {
    font-family: 'Dancing Script', cursive;
}

.text-center {
    text-align: center;
}
.cssdropdownmenu > li > a:hover {
    background-color: #b1d9e4;
}
.dropdown:hover{
    background-color: #b1d9e4;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdownActive{
    background-color: #b1d9e4;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menuInactive{
    background-color: #f5f5f5;
    color: #333333; 
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #b1d9e4 !important;
}
.clstool{
    color: #667ff7;
}
thead{
    background-color: #b1d9e4;
}

md-content {
    text-align: center;
}
md-select-label {
    width: 300px;
}
md-tabs.md-primary md-tabs-wrapper {
    background-color: rgb(54, 154, 156) !important;
}