﻿<div class="navbar navbar-default" style="background-color: #ffffff;">
   
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left" style="margin-right: 15px;">
            <li id="lnkhome" class="dropdown" ng-click="gohome();">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left" style="margin-right: 15px;">
            <li id="lnkUsers" class="dropdown" ng-click="goUsers();">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left" style="margin-right: 15px;">
            <li id="lnkMasters" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-list"></i> Masters<span class="caret"></span></a>
                <ul class="dropdown-menu cssdropdownmenu" uib-dropdown-menu>
                    <li><a ng-click="customer();">Customer</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="goProducts();">Products</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Locations</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-left" style="margin-right: 15px;">
            <li id="lnkStock" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-stats"></i> Stock<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="goPurchase();">Purchase</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
            <li class="dropdown">
                <a class="dropdown-toggle" ng-class="{'menuInactive':!IsLogout,'menuActive':IsLogout}" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin User<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="logout();"><span class="glyphicon glyphicon-log-out" aria-hidden="true" style="font-size: 16px;"></span>  Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div style="padding-top:30px">
    <div ui-view="nestedView"></div>
</div>
