﻿<div class="multiDemo" style="padding:10px;">
    <div>
        <div class="panel panel-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div>
                <div class="panel panel-default" style="border:none;">
                    <!--<div class="panel-heading">
                        <b>  Details of Registrations</b>
                    </div>-->
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-4 col-md-12">
                                <div class="panel" style="border-color: #a2cde4 !important;">
                                    <div class="panel-heading" style="background-color: #b1d9e4;">
                                        <div class="row" style="margin-bottom:15px;">
                                            <div class="col-xs-12" style="font-size: 5rem; text-align: center;">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </div>
                                            <div class="col-xs-12 text-right" style="font-size: 2rem; text-align: center;">
                                                <div class="fontColorHead">Orders Information</div>
                                            </div>
                                            <div class="col-xs-12 text-right fontColortext" style="text-align: center;">

                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" ng-click="">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="panel" style="border-color: #a2cde4 !important;">
                                    <div class="panel-heading" style="background-color: #b1d9e4;min-height: 135px;">
                                        <div class="row">
                                            <div class="col-xs-12" style="font-size: 5rem; text-align: center;">
                                                <i class="glyphicon glyphicon-shopping-cart"></i>
                                            </div>
                                            <div class="col-xs-12 text-right" style="font-size: 2rem; text-align: center;">
                                                <div class="fontColorHead">Stock Information</div>
                                            </div>
                                            <div class="col-xs-12 text-right fontColortext" style="text-align: center;">

                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" ng-click="">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                    <!--<a href="#" ng-click="moveToOrdersTab()">
                                        <div class=" panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>-->
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel" style="border-color: #a2cde4 !important;">
                                    <div class="panel-heading" style="background-color: #b1d9e4;">
                                        <div class="row" style="margin-bottom:15px;">
                                            <div class="col-xs-12" style="font-size: 5rem; text-align: center;">
                                                <!--<i class="glyphicon glyphicon-remove-circle"></i>-->
                                                <i class="fa fa-product-hunt"></i>
                                            </div>
                                            <div class="col-xs-12 text-right" style="font-size: 2rem; text-align: center;">
                                                <!--<div class="huge">6</div>-->
                                                <div class="fontColorHead">Products Information</div>
                                            </div>
                                            <div class="col-xs-12 text-right fontColortext" style="text-align: center;">

                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" ng-click="moveToCancellationTab()">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>

        </div>
    </div>
</div>
