﻿<!DOCTYPE html>
<html ng-app="ngHarvestApp" ng-controller="BasePageController">
<head>

    <!--<link rel="icon" type="image/png" href="Content/Images/Transparent.png">-->
    <title ng-bind="models.appTitle"></title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="~/ngHarvest/css/animate/animate.css" rel="stylesheet" />
    <link href="~/ngHarvest/css/main.css" rel="stylesheet" />
    <link href="~/ngHarvest/css/util.css" rel="stylesheet" />
    <link href="~/ngHarvest/css/ngMaterial.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/ngHarvest/css/stepper.css" rel="stylesheet" />
</head>
<body style="background-color: white" data-ng-cloak="">
    <div class="navbar navbar-default navbar-fixed-top navbar-bg-color" style="background-color: #369a9c;" role="navigation">
        <div class="container container-fluid">
            <div class="navbar-header">
                <div class="scroll-left text-center" style="font-weight:bold;font-size:35px;color:white">
                    Harvesting Mangement
                </div>
            </div>
        </div>
    </div>
    <div class="mainContent" style="padding-top:50px">
        <div ui-view="mainView"></div>
    </div>
    <div data-wc-overlay="" data-wc-overlay-delay="100">
    </div>
    <footer class="bottomadvtstyle navbar-fixed-bottom">
        <div class="container-fluid text-center">
            <h6>&copy; @DateTime.Now.Year</h6>
        </div>
    </footer>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Lib/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Lib/aria.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    @*<script src="~/Scripts/angular-material.min.js"></script>*@


    <script src="~/Lib/stepper.js"></script>
    <!-- Angular Material Library -->
    <script src="~/Lib/ngMaterial.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>*@

    <!-- External Material Library -->
    <script src="~/Lib/chart/chart.js"></script>
    <script src="~/Lib/chart/chart.min.js"></script>

    <!--Project Files-->
    <script src="~/ngHarvest/app.js"></script>
    <script src="~/ngHarvest/BasePageController.js"></script>
    <script src="~/ngHarvest/Login/LoginController.js"></script>
    <script src="~/ngHarvest/Dashboard/DashboardController.js"></script>
    <script src="~/ngHarvest/Dashboard/HomeController.js"></script>
    <script src="~/ngHarvest/Customer/CustomerController.js"></script>
    <script src="~/ngHarvest/Customer/AddCustomerController.js"></script>
    <script src="~/ngHarvest/Users/UsersController.js"></script>
    <script src="~/ngHarvest/Users/AddUserController.js"></script>
    <script src="~/ngHarvest/Products/ProductsControllers.js"></script>
    <script src="~/ngHarvest/Purchase/PurchaseController.js"></script>
</body>
</html>
