﻿<button type="button" class="btn btn-primary" style="margin-left: 15px;" ng-click="doback();"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
<div class="panel" style="padding:15px;">
    <div class="panel-heading text-center" style="border: 1px solid #369a9c;background-color:#eeeeee;"><h4> Add Customer</h4></div>
    <div class="panel-body" style="border: 1px solid #369a9c">
        <div class=" row">
            <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="customer.FirstName" required>
                </md-input-container>
            </div>
            <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="customer.LastName" required>
                </md-input-container>
            </div>
            <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="customer.LastName" required>
                </md-input-container>
            </div>
            <div flex="30" class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                <md-input-container>
                    <label>Contact Number</label>
                    <input type="number" ng-model="customer.LastName" >
                </md-input-container>
            </div>
        </div>
    </div>
</div>