﻿<div class="col-md-12">
    <div class="container" style="margin-top:10%;">
        <div class="row">            
            <form class="form-horizontal" role="form" ng-submit="formSubmit()">
                <div class="login-container col-md-5 col-sm-8">
                    <div class="form-login">
                        <h2>Login</h2>
                        <div ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <span ng-show="emailRequired" class="red-text">{{emailRequired}}</span>
                            <input type="text" id="userName" class="userName form-control input-custom chat-input" placeholder="username" ng-model="username" required />
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        <div ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <span ng-show="passwordRequired" class="red-text">{{passwordRequired}}</span>
                            <input type="password" id="userPassword" class="userPassword form-control input-custom chat-input" placeholder="******" ng-model="password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="wrapper clearfix">
                            <span class="group-btn">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-md btn-orange col-sm-5">Login</button>
                                <!--<input type="submit" class="btn btn-primary btn-md btn-orange col-sm-5" value="Login" />-->

                                <a href="#/register" class="btn btn-primary btn-md btn-blue col-sm-5">Register</a>
                                <!--<input type="button" class="btn btn-primary btn-md btn-blue col-sm-5" ng-click="signup()" value="Sign Up"/>-->
                            </span>
                        </div>
                        <span class="text-danger" style="color:red">{{ error }}</span>
                        <a href="javascript:void(0)" class="link">Forgot Password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>